/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body {
    background-color: coral;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: white;
    margin: 20px 0;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.biglietto.open {
    display: block;
}



.dati-top,
.dati-bottom {
    width: 100%;
    padding: 10px 0;
}

.dati-top {
    justify-content: space-evenly;
}

label{
    display: block;
}




.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.dati,
.biglietto {
    background-color: white;
}

h3 {
    text-align: start;
}

.dettagli {
    justify-content: space-evenly;
    padding-top: 20px;
}

.biglietto {
    padding: 20px 0;
    display: none;
}

